In [1]:
import pandas as pd
import numpy as np

In [2]:
phases = pd.read_excel('phases.xlsx')
phases.head()

,vid_id,phase,time_start,time_end,labeler,labeler_2,notes
0,vid_0,oob,00H:00m:00s,00H:03m:18s,kc,NaN,NaN
1,vid_0,exposure,00H:03m:18s,00H:08m:44s,kc,NaN,NaN
2,vid_0,hiatal_dissec,00H:08m:45s,00H:16m:41s,kc,NaN,opening of lesser sac at 00H:12m:38s
3,vid_0,eso_mob,00H:16m:42s,00H:18m:21s,kc,NaN,NaN
4,vid_0,hiatal_dissec,00H:18m:22s,00H:19m:04s,kc,NaN,NaN

In [3]:
#get unique values of 'vid_id' for each value in 'labeler'
labelers = list(phases['labeler'].unique())
labelers

['kc', 'sp', 'AB', 'ck', 'mm', 'anoosh', 'ck ']

In [4]:
vids = list(phases.loc[phases['labeler'] == 'kc', 'vid_id'].unique())
vids.sort()
vids = str(vids)
vids

"['vid_0', 'vid_1', 'vid_11', 'vid_12', 'vid_3', 'vid_4', 'vid_5', 'vid_6', 'vid_7', 'yale_0', 'yale_3']"

In [5]:
all_vids = list(phases['vid_id'].unique())
len(all_vids)

32

In [6]:
labeler_df = pd.DataFrame(labelers, columns=['labeler'])
labeler_df['videos'] = np.nan
for labeler in labelers:
    vids = list(phases.loc[phases['labeler'] == labeler, 'vid_id'].unique())
    vids.sort()
    labeler_df.loc[labeler_df['labeler'] == labeler, 'videos'] = str(vids)

In [7]:
labeler_df.head(6)

  labeler                                             videos
0      kc  ['vid_0', 'vid_1', 'vid_11', 'vid_12', 'vid_3'...
1      sp  ['vid_13', 'vid_14', 'vid_15', 'vid_16', 'vid_...
2      AB  ['vid_17', 'vid_18', 'vid_19', 'vid_20', 'vid_4']
3      ck  ['vid_21', 'vid_22', 'vid_23', 'vid_24', 'vid_...
4      mm                                          ['vid_4']
5  anoosh                                          ['vid_4']